<!-- BEGIN PRE-FOOTER -->
<style>
    .pull-center{
        text-align: center;
    }
</style>
<div class="page-prefooter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>关于博主</h2>
                <p> 拼命奋斗的小家伙，不怕跌倒，不怕风雨。<br>开源软件爱好者、爱学习、健身达人、六块腹肌、不丑。 </p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs12 footer-block">
                <h2>订阅消息</h2>
                <div class="subscribe-form">
                    <form action="javascript:;">
                        <div class="input-group">
                            <input type="text" placeholder="mail@email.com" class="form-control">
                            <span class="input-group-btn">
                                  <button class="btn" type="submit">提 交</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>关注我</h2>
                <ul class="social-icons">
                    <li>
                        <a href="https://github.com/LogestCai" data-original-title="github" title="GITHUB" class="github"></a>
                    </li> 
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>联系我</h2>
                <address class="margin-bottom-40">
                    <br> Email:caimh0223@qq.com
                    <br> 微信号:caimh0223
                </address>
            </div>
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->
<!-- BEGIN INNER FOOTER -->
<div class="page-footer">
    <div class="container pull-center"> 2018 &copy; 青草根博客
        <a href="#"> 皖ICP备16005452号-2</a> 
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END INNER FOOTER -->
<!-- END FOOTER -->
<!--[if lt IE 9]>
<script src="__PAGE__/global/plugins/respond.min.js"></script>
<script src="__PAGE__/global/plugins/excanvas.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->

<script src="__PAGE__/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="__PAGE__/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__PAGE__/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__PAGE__/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="__PAGE__/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="__PAGE__/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="__PAGE__/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
<script src="__PAGE__/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>
<script src="__PAGE__/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>