<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>{if condition="isset($article['title'])"}{$article.title}{else /}{$config.title}{/if}-IT界青草根</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="{if condition=" isset($article[ 'title']) "}{$article.title}{else /}{$config.title}{/if}-IT界青草根" name="description" />
    <meta content="{if condition=" isset($article[ 'keywords']) "}{$article.keywords}{else /}{$config.keywords}{/if}" name="keywords" />
    <meta content="IT界-青草根" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="__PAGE__/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__PAGE__/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="__PAGE__/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__PAGE__/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="__PAGE__/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="__PAGE__/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="__PAGE__/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="__PAGE__/pages/css/blog.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="__PAGE__/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="__PAGE__/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="__PAGE__/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__JS__/layui/css/layui.css">
    <!-- END THEME LAYOUT STYLES -->
    <script src="__PAGE__/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="__PAGE__/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="__JS__/layui/layui.all.js"></script>

    <script src="__JS__/wk.js"></script>
    <link rel="shortcut icon" href="favicon.ico" />