{include file="public/header" /}
<body class="gray-bg">
<div class="layui-fluid layui-col-xs12">
    <div class="layui-card">
        <div class="layui-card-header">打印订单</div>
        <div class="layui-card-body layui-form">
            <div id="print">
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>人物</th>
                        <th>民族</th>
                        <th>出场时间</th>
                        <th>格言</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img src="/uploads/face/20181116/63a0f7d99db522e14873f9b0b4e7ff85.png" alt=""></td>
                        <td><span class="zzz">汉族</span></td>
                        <td>1989-10-14</td>
                        <td>人生似修行</td>
                    </tr>
                    <tr>
                        <td>张爱玲</td>
                        <td>汉族</td>
                        <td>1920-09-30</td>
                        <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                    </tr>
                    <tr>
                        <td>Helen Keller</td>
                        <td>拉丁美裔</td>
                        <td>1880-06-27</td>
                        <td> Life is either a daring adventure or nothing.</td>
                    </tr>
                    <tr>
                        <td>岳飞</td>
                        <td>汉族</td>
                        <td>1103-北宋崇宁二年</td>
                        <td>教科书再滥改，也抹不去“民族英雄”的事实</td>
                    </tr>
                    <tr>
                        <td>孟子</td>
                        <td>华夏族（汉族）</td>
                        <td>公元前-372年</td>
                        <td>猿强，则国强。国强，则猿更强！ </td>
                    </tr>
                    </tbody>
                </table>
                <div class="layui-form-item">
                    <label class="layui-form-label">TableSelect</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" name="title" lay-verify="required" placeholder="文章标题" value="1,3,5,7,9,11,13,14" >
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space10 layui-form-item ">
                <div class="layui-form-item layui-col-xs-offset1 layui-col-xs8">
                    <div class="layui-input-block">
                        <button class="layui-btn"  onclick="wk.lay_print({obj:'#print'})">打印</button>
                        <button class="layui-btn layui-btn-primary" onclick="wk.layer_close()">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script>
    // function test(){
    //     // $.print();
    //     $('#print').print({
    //         globalStyles : true,//是否启用自身样式
    //         mediaPrint : false,
    //         stylesheet : null,//外部样式链接
    //         iframe : true,
    //         noPrintSelector : ".avoid-this",//不打印什么元素，支持多个属性逗号连接
    //         prepend : null,//头部添加内容，支持html
    //         append : null,//尾部添加内容，支持html
    //         //打印完成回调
    //         deferred : $.Deferred().done(function() {
    //             console.log('Printing done', arguments);
    //         })
    //     });
    // }
</script>
</body>
</html>